<?xml version="1.0" encoding="utf-8"?>
%rss{'xmlns:dc'=>'http://purl.org/dc/elements/1.1/', 'version'=>'2.0'}
  %channel
    %title Rotten RSS
    %lastBuildDate= Time.now.to_s
    - sources.each do |source|
      %item
        %title= source.title
        %description= source.title
        %pubDate= source.date
        %link= source.link
        %guid= source.link
