<?xml version="1.0" encoding="utf-8"?>
%rss{'xmlns:dc'=>'http://purl.org/dc/elements/1.1/', 'version'=>'2.0'}
  %channel
    %title Rotten RSS
    %lastBuildDate= items.map(&:date).max.to_s
    - items.each do |item|
      %item
        %title= item.title
        %description= item.title
        %pubDate= item.date
        %link= item.link
        %guid= item.link
